:root {
  font-family: Helvetica, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--dark-gray);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue: #ddffff;
  --yellow: #ffffdd;
  --dark-yellow: #eeee9e;
  --brown: #99994c;
  --gray: #666666;
  --dark-gray: #222222;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  place-items: start center;

  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}
